# Overseerr
OVERSEERR_URL=http://192.168.x.x:5055
OVERSEERR_API_KEY=your_overseerr_api_key_here

# Radarr
RADARR_URL=http://192.168.x.x:7878
RADARR_API_KEY=your_radarr_api_key_here

# Sonarr
SONARR_URL=http://192.168.x.x:8989
SONARR_API_KEY=your_sonarr_api_key_here

# Prowlarr
PROWLARR_URL=http://192.168.x.x:9696
PROWLARR_API_KEY=your_prowlarr_api_key_here

# qBittorrent
QBITTORRENT_URL=http://192.168.x.x:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=your_qbittorrent_password_here

# Plex
PLEX_URL=http://192.168.x.x:32400
PLEX_TOKEN=your_plex_token_here

# Docker (ct-media-01) – used by VPN routing tests
DOCKER_HOST_MEDIA=ssh://root@192.168.x.x
GLUETUN_CONTAINER_NAME=gluetun
QBITTORRENT_CONTAINER_NAME=qbittorrent
